'name': 'Pip requirements'
'scopeName': 'text.pip.requirements'
'fileTypes': [
  'requirements.txt'
]
'patterns': [
  { # line comment : (spanning an entire line) | (at end of a regular line)
    'begin': '(^([\\s]+)?(?=#))|(([\\s]+)(?=#))'
    'beginCaptures':
      '1':
        'name': 'punctuation.whitespace.comment.leading.pip'
    'end': '(?!\\G)'
    'patterns': [
      {
        'begin': '#'
        'beginCaptures':
          '0':
            'name': 'punctuation.definition.comment.pip'
        'end': '\\n'
        'name': 'comment.line.number-sign.pip'
      }
    ]
  }
  {
    'match': '([1-9]\\d*!)?(0|[1-9]\\d*)(\\.(0|[1-9]\\d*))*((a|b|rc)(0|[1-9]\\d*))?(\\.post(0|[1-9]\\d*))?(\\.dev(0|[1-9]\\d*))?(?=\\s*$)'
    'name': 'constant.numeric.version.pip'
  }
  {
    'match': '^[A-Za-z0-9\\-_]+'
    'name': 'meta.package-name.pip'
  }
  {
    'match': '(~=|===|==|!=|<=|>=|<|>)'
    'name': 'keyword.version-specifier.pip'
  }
]
